<h1>{{title}} | {{pageName}}</h1>

<img src="../public/images/OSSD.jpg" alt="Ontario Secondary School Diploma" />
<img src="../public/images/Web Development Diploma.jpg" alt="Web Development Diploma"/>