<!-- Only allow access to this page if the right password is put in. -->


<!-- Content -->

<h1>Private Bookmarks</h1>
<form action="" method="POST">
    <label>Bookmark Name: </label>
    <input type="text" />

    <label>Insert link: </label>
    <input type="url" />
</form>

<h1>Private Photos</h1> <!-- Display gallery from links -->
<form action="" method="POST">
    <label>Bookmark Name: </label>
    <input type="text" />

    <label>Insert link: </label>
    <input type="url" />
</form>